@font-face {
    font-family: "Amazon Ember";
    /*Can be any text*/
    src: local("AmazonEmber_Rg"),
        url("./../../public/fonts/Ember/AmazonEmber_Rg.ttf") format("truetype");
}

.main-div {
    font-family: "Amazon Ember", Arial, sans-serif;
    width: 100%;
    margin: 8px;
}

.amazon-logo {
    background-image: url("./../../public/images/AmazonImages.jpg");
    display: block;
    margin: 0 auto;
    height: 37px;
    width: 110px;
}

.create-user-form-outer-div {
    width: 350px;
    border: 1px #ddd solid;
    border-radius: 4px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

.create-user-form-inner-div {
    padding: 14px 18px;
    position: relative;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.div-input-box-section-box {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    width: 100%;
    padding-bottom: 15px;
}

label {
    font-weight: 700;
    padding-bottom: 2px;
    display: block;
}

.input-animation {
    animation-name: onAutoFillChanged;
}

.input-text {
    font-size: 100%;
    vertical-align: middle;
    color: #111;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
    transition: all .1s linear;
    width: 95%;
    height: 23px;
    line-height: normal;
    padding: 3px 7px;
}

.main-div input {
    font-family: "Amazon Ember", Arial, sans-serif;
}

.div-password-note {
    margin-top: 7px;
}

.icon-alert {
    background-image: url("./../../public/images/AmazonImages.jpg");
    background-position: 0px -38px;
    display: block;
    margin: 0 auto;
    height: 15px;
    width: 7px;
    position: absolute;

}

.password-note {
    padding-left: 15px;
}

.div-create_user_button {
    width: 100%;
    display: block;
    border-radius: 2px;
}

.btn-create-user {
    background: #f3d078;
    background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
    overflow: hidden;
    border-radius: 2px;
    color: #111;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 29px;
    text-align: center;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.div-divider-outer {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.div-divider-inner{
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    
    line-height: 0;
}

.div-divider-inner:after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}


.div-divider-inner h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.btn-go-to-create-user{
    background: #eff0f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
    overflow: hidden;
    border-radius: 2px;
    color: #111;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 29px;
    text-align: center;
    font-family: "Amazon Ember", Arial, sans-serif;
}